/* src/styles/global.css */

/* this is only imported as an example.  For an actual app, remove the home 
import and include all other component stylesheets for reference */

@import './AgentGridRenderer.css';
@import './DefaultStylingForAnalysisAndControl.css';
@import './ParticleSystem.css';


/* global styling */

.container {
  display: flex;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}